<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/lugares"> </ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Lugar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Formulario Add Lugar</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Lugar</ion-label>
        <ion-input
          placeholder="Ingrese el nombre del lugar"
          type="text"
          [(ngModel)]="lugar"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Imagen</ion-label>
        <ion-input
          placeholder="Ingrese la URL de la imagen"
          type="text"
          [(ngModel)]="imagen"
        ></ion-input>
      </ion-item>
      <ion-button
        (click)="addLugar(lugar, imagen)"
        expand="block"
        fill="clear"
        shape="round"
      >
        Guardar
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
