<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/lugares"> </ion-back-button>
    </ion-buttons>
    <ion-title>{{lugar.Titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button>
      <ion-icon name="options"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="tertiary" (click)="editarLugar()">
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" (click)="alertaEliminar()">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalles de {{lugar.Titulo}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid fixed>
        <ion-row>
          <ion-col> <ion-img [src]="lugar.ImagenURL"> </ion-img></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-title class="ion-text-center">
              {{lugar.Titulo}}
            </ion-title></ion-col
          >
        </ion-row>
      </ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-list *ngIf="lugar.Comentario.length  > 0; else NoComentarios">
            <ion-item>
              <ion-text>Comentarios</ion-text>
            </ion-item>
            <ion-item
              *ngFor="let comentario of lugar.Comentario; let index = index"
            >
              <ion-icon name="happy-outline" class="ion-padding-end"></ion-icon>
              <ion-label>{{comentario}}</ion-label>
              <ion-button
                (click)="editarComentario(index, comentario)"
                expand="block"
                fill="clear"
                shape="round"
              >
                Editar
              </ion-button>
            </ion-item>
          </ion-list>
          <ng-template #NoComentarios>
            <ion-item>
              <ion-text> No hay comentarios </ion-text>
            </ion-item>
          </ng-template>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Comentar</ion-label>
            <ion-input
              placeholder="Comentar.."
              type="text"
              [(ngModel)]="comentario"
            ></ion-input>
          </ion-item>
          <ion-button
            (click)="addComentario(comentario)"
            expand="block"
            fill="clear"
            shape="round"
          >
            Comentar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
